{% extends 'base.html.twig' %}

{% block title %}UserAdress{% endblock %}

{% block body %}
    <h1>UserAdress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_adress.id }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user_adress.adress }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ user_adress.cp }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user_adress.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user_adress.country }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_adress.name }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user_adress.firstName }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ user_adress.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_adress_index') }}">back to list</a>

    <a href="{{ path('user_adress_edit', {'id': user_adress.id}) }}">edit</a>
{% endblock %}
