{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    {% set categoryImg = "assets/img/" ~ category.img %}
    <div class="categoryBanner" style="background-image: url('{{asset(categoryImg)}}')">
        <h2>{{ category.name }}</h2>
    </div>

    {% for product in category.products %}
        <div>
            <h3>{{ product.name }}</h3>
            <a href="{{ path('product_show', {'id': product.id}) }}">See more</a>
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
        {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
