{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="categoryBanner" style="background-image: url('{{category.img}}')">
        <h2>{{ category.name }}</h2>
    </div>

    {% for product in category.products %}
        <div class="categoryProduct">
            <div class="productImage" style="background-image: url('{{product.bannerImage}}')"></div>
            <div>
                <h3>{{ product.name }}</h3>
                <p>Price : ${{ product.price }}</p>
                <a href="{{ path('product_show', {'id': product.id}) }}">See more</a>
                <form method="GET" action="/cart/add" id="addToCartForm">
                    <input type="hidden" name="productId" value="{{ product.id }}"/>
                    <button type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
        {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
